* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(245, 228, 228);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  max-width: 1450px;
  margin: auto;
}

.header {
  width: 100%;
}
/* 
.header > h1 {
}

.header > h3 {
}

.sub-titulo {
} */

.imagem-header {
  max-height: 300px;
}

.imagens-header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.imagem-1 {
  width: 450px;
  height: 300px;
}

.links {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  background-color: rgb(14, 173, 120);
  padding: 10px 20px;
}

.links > div {
  background-color: transparent;
  max-width: 300px;
}

article > div {
display: flex;
max-width: 1440px;
flex-wrap: wrap;
gap: 15px;
}

.links > div > a {
  background-color: transparent;
  font-size: 19.5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.links > div > a:hover {
  color: rgb(236, 80, 32);
  border-bottom: 5px solid rgb(236, 80, 32);
}

.header-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(14, 173, 120);
  font-family: Arial, Helvetica, sans-serif;
}

.titulo {
  font-size: 55px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.sub-titulo {
  font-size: 30px;
  margin-bottom: 15px;
}

.container-img-segunda-sessao > img {
  width: 450px;
  height: 350px;
}

.paragrafo1 {
  margin: auto;
  max-width: 1000px;
  text-align: center;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: rgb(14, 173, 120);
}
.paragrafo2 {
  margin: auto;
  max-width: 1000px;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: rgb(14, 173, 120);
}

footer {
  width: 100%;
  display: flex;

  justify-content: space-between;
  background-color: rgb(14, 173, 120);
  padding: 30px 10px;
}
.social {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background: transparent;
  flex-wrap: wrap;
  gap: 10px;
}

.social > a {
  background-color: transparent;
  font-size: 19.5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.social > a:hover {
  color: rgb(236, 80, 32);
  border-bottom: 5px solid rgb(236, 80, 32);
}
